html {
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("/img/Logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: open-sans;
}

#form{
  width: 100%;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
#header, .btn-col-5{
  color: white;
  font-weight: extrabold;  
  text-shadow: 1px 1px 3px black;
}

button:hover{
  background-color:  #633512;
}

hr{
  margin-top: 0%;
  width: 70%;
  color: #FFBC40;
  border: 2px solid #FFBC40;
}

#form input{
  background-color: rgb(208, 149, 72);
  border: none;
  font-size: 15px;
}

#botoes{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.btn-col-5{
  background-color: #8C4C1A;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.goo{
  border: none;
  border-radius: 5px;
  padding: 3px;
}

@media screen and (min-width: 550px){
  #form input{
    font-size: 25px;
  }

  #botoes{
    font-size: 20px;
  }
  
}

