
  <div class="row">
    <div class="col" id="integrantes">
      <h4>Integrantes</h4>
      <ul>
        <li> Ana Carolina Gonzaga da Silva </li>
        <li> Ana Carolina Clemente </li>
        <li> Atila Rufo Araujo Mendes da Silva </li>
        <li> Fernanda Holanda Rodrigues </li>
        <li> Maria Eliza Teófilo Ferreira </li>
        <li> Sophia Mello de Lima </li>
      </ul>
    </div>
    <div class="col" id="contatos">
      <h4>Contatos pessoais</h4>
      <ul>
        <li> cardoso.carolina62@aluno.ifce.edu.br </li>
        <li> ana.silva07@aluno.ifce.edu.br </li>
        <li> atila.rufo05@aluno.ifce.edu.br </li>
        <li> fernanda.holanda61@aluno.ifce.edu.br </li>
        <li> maria.eliza61@aluno.ifce.edu.br </li>
        <li> sophia.mello05@aluno.ifce.edu.br </li>

      </ul>
    </div>

    <div class="col" id="avutech">
      <h4>Contatos empresariais </h4>
      <ul>
        <li> <i class="fa fa-envelope-o" aria-hidden="true"></i> avutech6@gmail.com </li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i> @avutech</li>

      </ul>

    </div>
  </div>
