
  <div class="row">
    <div class="col" id="integrantes">
      <h4>Sobre a Panela</h4>
      <ul>
        <li> Sobre nós </li>
        <li> saiba mais sobre o ceará  </li>
      </ul>
    </div>
 
    <div class="col" id="contatos">
      <h4>Categorias</h4>
      <li >
        <a  href="/produto/Noroeste">Noroeste</a>
      </li>
      <li>
        <a href="/produto/Norte">Norte</a>
      </li>
      <li>
        <a href="/produto/Metropolitana">Região Metropolitana</a>
      </li>
      <li >
        <a  href="/produto/Sul">Sul</a>
      </li>
      <li>
        <a href="/produto/Jaguaribe">Jaguaribe</a>
      </li>
      <li >
        <a  href="/produto/Centrosul">Centro-Sul</a>
      </li>
      <li >
        <a href="/produto/Sertoes">Sertões</a>
      </li>
    </div>
    <div class="col" id="avutech">
      <h4>Contatos empresariais </h4>
      <ul>
        <li> <i class="fa fa-envelope-o" aria-hidden="true"></i> avutech6@gmail.com </li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i> @avutech</li>

      </ul>

    </div>
  </div>
