<%- include('./partials/header') %>

<body>
  <div class="container-fluid">
    <div class="login">
      <div class="logo">
        <div class="col-md-12">
          <img src="/img/Logo.jpg" alt="" style="height: 20%; width: 20%; border-radius: 55%;">
          <h1> PanelaSiarense</h1>
          <h3>Login</h3>
          <hr>
        </div>
      </div>
      <section>
        <form action="/auth/login" method="post" >
          <div class="mb-3">
            <input type="username" class="form-control" id="username" name="username" placeholder="Email" required>
          </div>

          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
          </div>
          <!-- botões -->
          <div class="row">
            <input type="submit" class="btn" id="sub" value="Login">
            <a type="button" href="/auth/signup" class="btn" >SignUp</a>
          </div>
      </section>
      </form>
      <hr>
      <a href="/auth/esqsenha"> Esqueci a senha </a>
    </div>
  </div>

  <script src="script.js"></script>
</body>

</html>