@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #f5f5f5;
    position: relative;
    overflow-x: hidden;
   }
  
  
  * {
    margin: 0;
    padding: 0;
  }
  

  /*Sidebar*/
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E39239;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 5px 5px 5px 22px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidebarLinks{
    margin-top: 8px;
  }
  
  .openbtn {
    font-size: 15px;
    cursor: pointer;
    color: white;
    padding: 8px 13px;
    margin-bottom: 7px;
    border-radius: 5px;
  }
  

  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (min-height: 450px) and (min-width: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /*Header*/
  .img-fluid {
    max-width: 70px;
    max-height: 70px;
    border-radius: 80px;
  }
  
  .logo h1 {
    margin-top: 12px;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  
  @media screen and (min-width: 320px) {
    .logo h1 {
      font-size: 20px;
    }
  
    .img-fluid {
      width: 50px;
      height: 50px;
    }
  }
  
  .home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

  }
  
   .btn, .openbtn{
     background-color: #8B4513;
     border: none;
   }
   .btn:hover, .openbtn:hover {
     background-color: #a34400;
   }
   .navbar-toggler-icon {
     color: #a34400;
   }
  /*.colapse a{
    font-size: 30px;
  }*/
  
  /*-----------------------------------------------------*/
  
  #search{
    justify-content: center;
  }

  #center {
    padding-top: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  
  .searchWrapper button {
    font-size: 17px;
    cursor: pointer;
    position: relative;
    width: 20%;
    height: 2rem;
    padding-left: 0;
    margin-left: 0;
    background: white;
    color: #ce9e46;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right: 2px solid #D55A00;
    border-top: 2px solid #D55A00;
    border-bottom: 2px solid #D55A00;
    border-left: none;
  }
  
  .searchInput {
    float: left;
    width: 80%;
    height: 2rem;
    padding-left: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left: 2px solid #D55A00;
    border-top: 2px solid #D55A00;
    border-bottom: 2px solid #D55A00;
    border-right: none;
    color: #ce9e46;
  }
  .searchInput:focus {
    outline: none;
  }
  
  ::placeholder {
    color: #ce9e46;
  }
  
  /*-----------------------------------------------------*/
  
  .top-nav {
    overflow: hidden;
    display: block;
    justify-content: center;
    border-bottom: 1px solid #094F14;
    border-top: 1px solid #094F14;
  }
  
  .top-nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 10px;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  
  .justify-content-center a:hover {
    background-color: #e8e8e8;
    color: #3b230c;
  }
  
  .justify-content-center a:focus{
    color: #3b230c;
  }
  
  
  /*Header*/
  
  /*-----------------------------------------------------*/
  
  /*Conteudo*/
  .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  #text {
    float: right;
    max-width: 600px;
    max-height: 504px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  
  .img-fluid-2 {
    margin-top: 40px;
    padding: 50px 0;
    max-width: 450px;
    max-height: 450px;
  }
  


  
  @media screen and (min-width: 375px) {
    #text {
      /*width: 360px;
      height: 304px;*/
      padding: 50px 0;
      margin-left: 30%;
      margin-top: 10px;
      margin-bottom: 70px;
      justify-content: right;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 14px;
      text-align: left;
    }
  
    .img-fluid-2 {
      padding: 20px 0;
      max-width: 350px;
      max-height: 350px;
    }
  }

  .img-fluid-3 {
    max-width: 300px;
    height: auto;
    border-radius: 20px;
  }
  .card{
    max-width: 300px;
    height: auto;
    border: none;
    border-radius: 20px;
    margin: 5px 10px;
  }
  .card-text{
    border-left: 5px #D55A00;
    text-align: left;
  }

  #indicators{
  justify-content: space-between;
  }
  
  /*Conteudo*/
  
  /*-----------------------------------------------------*/
  
  /*Footer*/
  .footer {
    color: black;
    background-color: #AB9564;
  
  }
  
  .col-md-4 {
    padding: 3px;
    font-size: 12px;
  }
  
  .h2 {
    padding-bottom: 1px;
  }
  
  #cntt {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  
  #contatos {
    margin-left: 30px;
  }
  
  #integrantes {
    margin-left: 30px;
  }
  
  .justify-content-center {
    font-size: 20px;
    padding-bottom: 17px;
  
  }
  
   .w-100 {
     display: flex;
     justify-content: center;
   }